<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MakeItContext" connectionString="metadata=res://*/MakeItModel.csdl|res://*/MakeItModel.ssdl|res://*/MakeItModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5045.site4now.net;initial catalog=DB_A54F87_MakeIt;user id=DB_A54F87_MakeIt_admin;password=qwerty-123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>