@{
    ViewBag.Title = "MakeIt";
}

<div class="panel-body">
    <form role="form">
        <fieldset>
            <h3>
                Blocked
            </h3>
            <div class="form-group">
                <span>
                    Login to your account is blocked for 5 minutes. Try again later.
                </span>
            </div>
        </fieldset>
    </form>
</div>
